
#column-list{
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

#long-menu > div > ul{
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.submit-button{
  height: 60px;
}
