a {
  text-decoration: none;
  color: white;
}

#root > div > header > div > a {
  margin-left: auto;
}

#root > div > header > div > button {
  margin-left: auto;
}

.logo {
  display: inherit;
  width:  100px;
}

.root{
  display: flex;
  width: 100%;
  height: 100%;
}

#root > div > div > div > div > ul > a > div > svg{
  margin-left: 10px;
  margin-right: 25px;
}

#root > div > div > div > div > div > button > span > svg{
  color: white;
}

#root > div > div > div > div > hr{
  background-color: rgba(255,255,255, 0.12);
}
