a {
  text-decoration: none;
  color: white;
}

#root > div > header > div > a {
  margin-left: auto;
}

#root > div > header > div > button {
  margin-left: auto;
}

.logo {
  display: inherit;
  width:  100px;
}

.root{
  display: flex;
  width: 100%;
  height: 100%;
}
