#pie-phyid-vis {
  width: 100%;
  height: 500px;
}

#lineChart {
  width: 100%;
  height: 600px;
}

div.mapboxgl-map {
  z-index: 999;
}

.mapboxgl-marker {
  z-index: 999;
}

#map {
  width: 100%;

  & > div {
    width: 100% !important;
  }
}

.chart_hide {
  display: none;
}

#root > div > main > div > div > div > div > div > div:nth-child(2) > div > div {
  box-shadow: none;
}

#pie-phyid-vis > div:nth-child(2) > svg > g > g:nth-child(2) > g:nth-child(2) > g > g:nth-child(3){
  display: none;
}

// todo: could cause problems
#lineChart > div:nth-child(2) > svg > g > g:nth-child(2) > g:nth-child(2) > g {
  display: none;
}

#map > div > div > div.mapboxgl-map > div.mapboxgl-control-container {
  & > div.mapboxgl-ctrl-bottom-left{
    display: none;
  }
  &> div.mapboxgl-ctrl-bottom-right{
    display: none;
  }
}
