#pie-phyid-vis {
  width: 100%;
  height: 500px;
}

#lineChart{
  width: 100%;
  height: 600px;
}

div.mapboxgl-map{
  z-index: 999;
}

.mapboxgl-marker{
  z-index: 999;
}

#map > div{
  width: 100%;
}

.chart_hide{
  display: none;
}
