#parent{
  margin-top: 40px;
}

#tree > svg{
  display: block;
  margin: 0 auto;
}

.link {
  fill: none;
  stroke: #97a6ff;
  stroke-width: 2px;
}

#selected{
  stroke: blueviolet !important;
  stroke-width: 2px;
}

#selected-circle{
  fill: greenyellow !important;
}

.chart-container{
  width: 300px;
  height: 100%;
}

#device-types-chart{
  width: 300px;
  height: 500px;
  min-width: 300px;
}
