#parent{
  margin-top: 40px;
  margin-bottom: 60px;
}

#tree > svg{
  display: block;
  margin: 0 auto;
}

.link {
  fill: none;
  stroke: #97a6ff;
  stroke-width: 2px;
}

circle{
  stroke: #3F51B5 !important;
  stroke-width: 2px;
}
#selected{
  stroke: #d81b60 !important;
  stroke-width: 2px;
}

#selected-circle{
  fill: greenyellow !important;
}

.chart-container{
  width: 500px;
  height: 100%;
  min-height: 565px;
}

#device-types-chart, #pie-phyid {
  width: 500px;
  height: 500px;
  min-width: 300px;
}


.chart-title{
  text-align: center;
  font-size: large;
  padding: 10px;
}

.table-container{
  min-height: 565px;
  & > div{
    min-height: 565px;
  }
}

// bad boy styles
#root > div.root > main > div > div > div > div > div > div > div > div > div > div > div > div > table > tbody > tr:nth-child(1){
  height: 52px !important;
}

#root > div.root > main > div > div > div > div > div > div > div > div > div > table{
  margin-top: 25px;
}

.chart-toolbar{
  display: flex;
  padding-top: 10px;
  height: 53px;
  justify-content: center;
}
