@import "../../colors";

#loginContainer {
  position:fixed;
  top: 50%;
  left: 50%;
  width:30em;
  height:18em;
  margin-top: -9em;
  margin-left: -15em;
}

.login > div > div > div {
  width: 100%;
}

.loginBtnGroup{
  position: relative;
  top: 0;
  left: 0;
}

#progressLogin{
  position: absolute;
  top: 0;
  bottom: 0;
  left:0;
  right:0;
  margin: auto;
  width: 35%;
  height: 25px;
}

#progressLogin > div > svg{
  position: absolute;
  top: 0;
  bottom: 0;
  left:0;
  right:0;
  margin: auto;
}

